a,p {
    text-align: center;
}
img { width: 88%; text-align: center; margin: auto;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.card { width: 50%;}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/